tmp/
components/*
!components/json/
!components/json/**
!components/esp_lcd_nv3023/
!components/esp_lcd_nv3023/**
!components/custom_io_expander_ch32v003/
!components/custom_io_expander_ch32v003/**
!components/uart-uhci/
!components/uart-uhci/**
!components/sscma_client/
!components/sscma_client/**
managed_components/
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
